@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
    
body {
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    margin-top: 20px;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    height: 45px;
    width: 45px;
    font-size: 20px;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B244A;
    max-width: 575px;
    margin: 0px auto;
}

.score {
    height: 120px;
    width: 155px;
    background-color: #080001;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F94F6D;
    font-size: 80px;
    margin-bottom: 20px;
}

.pointBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
